= link_to board_path(board) do
  = board.title
  -# .card
  -#   - if board.eyecatch.attached?
  -#     .card_image
  -#       = image_tag board.eyecatch
  -#   .card_content
  -#     .card_title

  -#     .card_heart
  -#       = image_tag 'heart.svg'
  -#       %span= board.like_count
  -#     .card_detail
  -#       = image_tag board.user.avatar_image
  -#       %div
  -#         %p= board.author_name
  -#         %p= board.display_created_at
